[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Benjamin (benschhold)
[access "refs/for/refs/*"]
	read = group user/Benjamin (benschhold)
	push = group user/Benjamin (benschhold)
	label-Code-Review = -2..+2 group user/Benjamin (benschhold)
	label-Verified = -1..+1 group user/Benjamin (benschhold)
	rebase = group user/Benjamin (benschhold)
	removeReviewer = group user/Benjamin (benschhold)
	submit = group user/Benjamin (benschhold)
[access "refs/heads/*"]
	read = group user/Benjamin (benschhold)
	create = group user/Benjamin (benschhold)
	push = +force group user/Benjamin (benschhold)
	pushMerge = group user/Benjamin (benschhold)
[access "refs/tags/*"]
	push = group user/Benjamin (benschhold)
	push = +force group user/Benjamin (benschhold)
